@charset "UTF-8"

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #233eff;
    background-size: cover;
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px #1728a8;
    padding: 10px;
}